name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
          
      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          static_site_generator: next
          
      - name: Install dependencies
        run: npm ci
        
      - name: Creating .env.local file
        run: |
          echo "NEXT_PUBLIC_CF_ACCOUNT_ID=687aefbd03d737708ecd6c2be3d7d892" >> .env.local
          echo "NEXT_PUBLIC_CF_API_TOKEN=A6W0Wgwo40T0fokiF7lDHQyhVFpA0qM3lfs9YhPg" >> .env.local
          echo "NEXT_PUBLIC_CF_IMAGE_DELIVERY=https://imagedelivery.net/uK4Tq2_v_mB8-9xLw1B9gQ" >> .env.local
          echo "NEXT_PUBLIC_N8N_WEBHOOK=https://andreshark02.app.n8n.cloud/webhook/c2d3d68a-ae60-46ea-9a02-d09d2aa25570" >> .env.local
          
      - name: Build with Next.js
        run: npx next build
        
      - name: Create .nojekyll to prevent Next.js folder ignoring
        run: copy NUL out\.nojekyll || touch out/.nojekyll
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
